// Wildwood layout

article {
    // @include grid-row();

    header {
        @include grid-row;

        .brand {
            @include grid-columns(4);
            order: 2;
            img {
                @include img-responsive;
            }
        }
        & + div {
            @include grid-column(4);

            text-align: left;
        }




    }
}
.orbit {
    @include orbit-wrapper;
    & > img {
        position: absolute;
        left: auto;
        top: 300px;
    }
    .orbit-container {
        @include orbit-container;

        .orbit-slide {
            @include orbit-slide;
            h3 {
                display: none;
            }
            figcaption {
                display: none;
            }
        }
        button {
            @include orbit-control;
            &.orbit-previous {
                @include orbit-previous;
            }
            &.orbit-next {
                @include orbit-next;
            }
        }
    }
}