// Wildwood layout

article {
    // @include grid-row();
    .sticky-container {
        z-index: 3000;
    }
    header {
        @include flex-grid-row(collapse, 100%)
        @include flex-align(center, middle);
        background: rgba(0,0,0, 0.6);
        height: 50px;
        z-index: 5000;
        &.title-bar {
            width: 100%;
        }
        .menu-centered {
            margin: 0 auto;
        }
        .menu {
            margin: 0 auto;
            li {
                a {
                    color: $c-beige;
                    &:hover {
                        color: $c-green;
                    }
                }
            }
        }




    }
}
.orbit {
    @include orbit-wrapper;
    overflow: hidden;
    .orbit-container {
        @include orbit-container;

        .orbit-slide {
            @include orbit-slide;
            h3 {
                display: none;
            }
            figcaption {
                display: none;
            }
            .standout {
                background: rgba(0,0,0,0.2);
                position: absolute;
                top: 200px;
                padding: 45px 0;
                width: 100%;
                text-align: center;
                z-index: 200;
                img {

                }
                & + div {
                    // @include grid-column(4);
                    // text-align: left;
                }
            }
        }
        button {
            @include orbit-control;
            &.orbit-previous {
                @include orbit-previous;
            }
            &.orbit-next {
                @include orbit-next;
            }
        }
    }
    .orbit-bullets {
        margin-top: -4em;
    }
}

.callout {
    background: transparent;
    border: 0;
    color: $c-light;
    @include rotate(-0.7);

    #paving & {
        @include rotate(0.7);
    }
}