// Wildwood layout

article {
    // @include grid-row();

    header {
        max-height: 1200px;
        // position: relative;
        .inner {
            position: relative;
        }
        h1 {
            color: #fff;
            font-weight: 900;
            position: absolute;
            top: 200px;
            left: 0;
            text-align: center;
            z-index: 300;
            width: 100%
        }
        .orbit {
            @include orbit-wrapper;

            .orbit-container {
                @include orbit-container;

                .orbit-slide {
                    @include orbit-slide;
                    h3 {
                        display: none;
                    }
                }
                button {
                    @include orbit-control;);
                    &.orbit-previous {
                        @include orbit-previous;
                    }
                    &.orbit-next {
                        @include orbit-next;
                    }
                }
            }
        }
    }
}