// Wildwood layout

article {
    // @include grid-row();

    header {
        @include flex-grid-row;
        // @include flex-align( center, stretch);
        .inner {
            // position: relative;
        }
    }
    .navigation {
        // @include flex-grid-row;
    }
    section {
        @include grid-row;
        // @include flex-grid-row-align(center, middle);

        padding: 80px 0;
        background: #444;
        &#timber {
            background: $c-dark-green;

        }
        &#prodcuts {
            background: $c-brown;
        }
        &#paving {
            background: $c-blue;
        }
        &#about {
            background: $c-beige;
        }
        &#contact {
            background: $c-green;
        }

        // .row {
        //     @include grid-row;
            .columns {
                @include grid-column(8);
                @include grid-column-position(center);
            }
        // }
    }
    footer {
        @include flex-grid-row;
    }
}