// Wildwood layout

article {
    // @include grid-row();

    header {
        @include flex-grid-row;
        // @include flex-align( center, stretch);
        .inner {
            // position: relative;
        }
    }
    .navigation {
        // @include flex-grid-row;
    }
    section {
        @include grid-column;
        // @include flex-grid-row-align(center, middle);

        padding: 80px 0;
        background: #444;
        &#timber {
            background: $c-dark-green;
            @include box-shadow(3px, 3px, 5px, rgba(#000000,0.6));
            z-index: 300;

        }
        &#products {
            @include box-shadow(0px, 0px, 5px, rgba(#000000,0.6), inset);
            background: url("../img/Brownwoodtexture.Abstractbackground.jpg") no-repeat 0 0;
            background-size: cover;
            z-index: 300;

            .product-grid {
                 @include grid-column(10);
                 @include grid-column-position(center);
            }
        }
        &#paving {
            background: $c-blue;
            z-index: 300;
        }
        &#about {
            @include box-shadow(0px, 0px, 5px, rgba(#000000,0.6), inset);
            background: $c-beige;
            z-index: 300;
        }
        &#contact {
            background: $c-green;
            z-index: 300;
        }

        // .row {
        //     @include grid-row;
            .columns {
                @include grid-column(7);
                @include grid-column-position(center);
            }
        // }
    }
    footer {
        @include grid-column;
        background: $c-dark-brown;
        padding: 80px 0;
        & div {
            @include grid-column(7);
            @include grid-column-position(center);
        }
    }
}