h1,
h2,
h3 {
    font-weight: 900;
    text-transform: lowercase;
}
h1, h2, h3 {

}
a {
    @include transition(all, .3s, ease-in-out);
}
.menu.simple {
    li {
        font-family: $header-font-family;
        font-size: $global-font-size-larger;
        font-weight: 400;
        margin-right: 30px;
        a {
            padding: 10px 20px;
        }
    }
}
.callout {
    h1 {
        font-size: $lead-font-size * 2;
        margin-bottom: 0;
        & + h2 {
            font-size: $lead-font-size * 1.25;
            margin-top: -15px;
            font-weight: 100;

            & + p {
                font-size: $global-font-size-larger;
            }
        }
    }
    p {
        font-size: $global-font-size;
    }
    #about & {
        color: $c-brown;
    }
}

footer {

    & > div {
        color: rgba($c-light,0.7);
        font-size: $global-font-size-medium;
        text-align: center;

        a {
            color: rgba($c-light,0.7);
            @include transition(color, .5s, ease-in-out);
            &:hover {
                color: rgba($c-beige,0.7);
            }
        }
    }
}