// Wildwood layout

article {
    // @include grid-row();
    .sticky-container {
        // z-index: 3000;
    }
    header {
        @include flex-grid-row(collapse, 100%)
        @include flex-align(center, middle);
        @include background-opacity($c-dark-brown, 0.95);
        // height: 75px;
        z-index: 5000;
        .top-bar {
            @include background-opacity($c-dark-brown, 0.95);
            @include transition(all, .5s, ease-in-out);
            width: 100%;

            left: 0 !important;

            .menu-icon {
                &::after {
                    color: $c-beige;
                    height: 3px;
                }
            }
            .title-bar-title {
                width: 80px;
            }

            .title-bar {
                background: $c-dark-brown;
                margin-bottom: 3px;
                width: auto;
                @include breakpoint(small down) {
                    top: 140px;
                }


            }
            .menu-text {
                color: $c-light;
            }
            &.is-stuck {
                @include box-shadow(0px, 2px, 5px, rgba(#000000,0.7));
            }

        }

        // .visible-for-small-only {
        //     @include breakpoint(largemed down) {
        //         display: block;
        //     }
        // }
        // .hidden-for-small-only {
        //     @include breakpoint(largemed up) {
        //         display: block;
        //     }
        // }
        .menu-centered {
            margin: 0 auto;
        }
        .menu {
            margin: 0 auto;
            li {
                @include flex-align(center, middle);
                a {
                    color: $c-beige;
                    @include border-radius(2px);
                    &:hover {
                        background: rgba($c-beige, 0.2 );
                        color: $c-green;
                    }
                    img {
                        height: 40px;
                    }
                }
                &:first-child {

                }
            }

            &.vertical {
                background: transparent;
              a {
                color: $c-beige;
                @include breakpoint(medium down) {
                    font-size: 83%;
                }

                  &:hover {
                      background: rgba($c-beige, 0.2 );
                      color: $c-green;
                  }
                  img {
                      // height: 40px;
                  }
              }
            }
        }
        #mobile-menu {
            background: $c-dark-brown;
        }
    }
}
.parallaxed {
    position: absolute;
    background-size: cover;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &.opaque {
        @include opacity(0.2);
    }

}
.orbit {
    @include orbit-wrapper;
    // margin-top: -50px;
    // overflow: hidden;
    z-index: 50;

    .orbit-container {
        @include orbit-container;

        @include breakpoint(large down) {
            min-height: 490px;
        }

        @include breakpoint(largemed down) {
            min-height: 250px;
        }
        @include breakpoint(medium down) {
            min-height: 225px;
        }
        @include breakpoint(small down) {
            min-height: 250px;
        }
        .orbit-slide {
            @include orbit-slide;
            h3 {
                display: none;
            }
            figcaption {
                display: none;
            }
            .standout {
                @include background-opacity(#000000, 0.6);
                position: absolute;
                top: 200px;
                padding: 45px 0;
                width: 100%;
                text-align: center;
                z-index: 50;
                @include breakpoint(medium down) {
                    padding: 25px 0;
                    top: 80px;
                }
                @include breakpoint(small down) {
                    padding: 25px 0;
                    top: 50px;
                }
                img {

                }
                & + div {
                    // @include grid-column(4);
                    // text-align: left;
                }
            }
        }
        button {
            @include orbit-control;
            &.orbit-previous {
                @include orbit-previous;
            }
            &.orbit-next {
                @include orbit-next;
            }
        }
    }
    .orbit-bullets {
        margin-top: -4em;
    }
}

.callout {
    position: relative;
    background: transparent;
    border: 0;
    color: $c-light;
    z-index: 10;
    @include rotate(-0.5);

    #paving & {
        @include rotate(0.5);
    }
}

.product-grid {
    @include flex();
    .column {
        @include flex-grid-column(3, 30px);
        @include breakpoint(xxlarge up) {
          @include flex-grid-column(3, 30px);
        }
        @include breakpoint(xxlarge down) {
          @include flex-grid-column(4, 20px);
        }
        @include breakpoint(large down) {
          @include flex-grid-column(6, 20px);
        }
        @include breakpoint(medium down) {
          @include flex-grid-column(12, 0px);
        }
        @include breakpoint(small down) {
          @include flex-grid-column(12, 0px);
        }

        text-align: center;
        margin-bottom: 40px;

        figure {
            position: relative;
            img {
                margin-bottom: 0;
            }
            figcaption {
                // @include grid-row();
                background: rgba($c-dark-brown, 0.7);
                border: 3px solid $c-light;
                border-top-width: 0;
                position: absolute;
                bottom: 0;
                padding: 0 20px;
                width: 100%;

                @include breakpoint(small down) {
                  display: none;
                }

                h3 {
                    // @include grid-column(10);
                    font-family: 'iskra', sans-serif;
                    font-size: $lead-font-size * 1.125;
                    color: $c-beige;
                    text-align: left;
                    padding: 0 !important;
                    margin: 0 !important;

                    & + p {
                        // @include grid-column(2);
                        color: $c-beige;
                        font-family: 'iskra', sans-serif;
                        font-size: $lead-font-size;
                        font-weight: 500;
                        text-align: left;
                        padding: 0 !important;
                        margin: 0 !important;
                    }
                }
                p {
                    color: $c-light;
                    font-size: $global-font-size;
                    line-height: $subheader-lineheight - 0.2;
                    text-align: left;
                    // display: inline-block;
                }
            }
        }
    }
}
.reveal {
    background: rgba($c-dark-brown, 0.9);
    @include box-shadow(3px, 3px, 7px, rgba(0,0,0,0.6));
    border-radius: 5px;
    padding: 45px 80px;

    &.small {
        @include breakpoint(xlarge down) {
            @include reveal-modal-width(85%, 800px);
            top: 60px !important;
        }
    }

    .reveal-slider {
        min-height: 428px !important;
        height: auto;
        .orbit {
            @include orbit-wrapper;
            position: relative;
            border: 15px solid $c-brown;
            box-shadow: 0 0 5px rgba(#000000, 0.6) inset;
            margin: 0;
            z-index: 400;
            .orbit-container {
                @include orbit-container;
                position: relative;
                height: 450px !important;
                .orbit-slide {
                    height: 100%;
                }
            }
        }
    }
    .reveal-header {
        // @include grid-row;
        h3 {
            @include grid-column(7);
            color: $c-beige;
            font-size: $global-font-size-xlarge;
            font-weight: 900;
            padding: 0 !important;
        }
        .price {
            @include grid-column(5);
           color: $c-green;
           font-size: $global-font-size-xlarge * 1.125;
           line-height: 1.3;
           font-weight: 900;
           margin-bottom: 0;
           text-align: right;
           padding: 0 !important;
        }
    }
    .reveal-content {
        p:first-child {
            color: $c-green;
            font-size: $global-font-size-larger;
            line-height: 1.3;
            display: inline-block;
        }
    }

    p {
        color: $c-beige;
        font-size: $global-font-size-medium;
    }
    .close-button {
        color: $c-light;
    }

}
article {

    form {
        label {
            color: $c-light;
            font-family: $header-font-family;
            font-weight: 900;
            text-transform: lowercase;
        }
        input {
            &[placeholder] {
                color: $c-dark-green;
                font-weight: 500;
            }
            &.button {
                // display: inline-block;
                // width: 100%;
            }
            &[type]:focus {
                @include box-shadow(0, 0, 5px, rgba($c-blue, 0.8));
            }
        }
        textarea {
            color: $c-dark-green;
            font-weight: 500;

            &:focus {
                @include box-shadow(0, 0, 5px, rgba($c-blue, 0.8));
            }
        }
        .button-area {


            input {

                &[type="submit"] {
                    width: 100%;
                    background: $c-green;
                    &:hover {
                        background: $c-dark-green;
                    }
                }
            }

        }
    }

    .off-canvas-wrapper {
        background: $c-dark-brown;

        .off-canvas {
            background: $c-dark-brown;
            a {
                color: $c-beige;
                font-family: $header-font-family;
                font-size: $global-font-size + 10;

                &:hover {
                    color: $c-green;
                    background: rgba($c-beige,0.2);
                }
            }
        }
        .off-canvas-wrapper-inner {
            @include box-shadow(3px, 3px, 5px, rgba(#000000, 0.6) inset);
        }
        .close-button {
            span {
                color: $c-beige;
            }
        }
    }


}
footer {
    ul {
        list-style: none;
        li {
            margin-bottom: 25px;

            a {
                & > img {
                    @include opacity(0.5);
                    @include transition(opacity, .5s, ease-in-out);
                }
                &:hover {
                   & > img {
                       @include opacity(1);
                   }
                }
            }
            &.social-links {
                a {
                    display: inline-block;
                    @include transition(all, .5s, ease-in-out);
                    i {
                        margin: 15px;
                    }
                    .large-icon {
                        color: rgba($c-light,0.4);
                        font-size: $global-font-size-xlarge;
                        @include transition(all, .5s, ease-in-out);
                        @include mui-animation(slide, fade, spin(120deg));
                    }
                    &:hover {

                        .large-icon {
                            color: rgba($c-light,0.8);

                        }
                    }
                }

            }
        }
    }
}