// Wildwood layout

body {
    background: $c-dark-brown;
}
.no-reveals {
    visibility: hidden;
}
article {
    width: 100%;
    overflow-x: hidden;

    header {
        @include flex-grid-row;
    }

    section {
        @include grid-column;
        // @include flex-grid-row-align(center, middle);

        padding: 80px 0;
        background: #444;

        @include breakpoint(medium down) {
          padding: 40px 0;
        }
        @include breakpoint(small down) {
          padding: 40px 0;
        }
        &#timber {
            background: $c-dark-green;
            @include box-shadow(3px, 3px, 5px, rgba(#000000,0.6));
            z-index: 300;

            & > div {

            }

        }
        &#products {
            background: transparent;
            @include box-shadow(0px, 0px, 5px, rgba(#000000,0.6), inset);
            position: relative;
            .parallaxed {
                background: transparent url("../img/Brownwoodtexture.Abstractbackground@0.75x.jpg") repeat-y 0 0;
            }
            .product-grid {
                position: relative;
                 @include grid-column(12);
                 @include grid-column-position(center);
                 z-index: 10;

                 .column {
                    // @include breakpoint(large down) {
                      @include grid-column(6);
                    // }
                 }
            }
        }
        &#paving {
            background: $c-blue;
            z-index: 300;
        }
        &#about {
            @include box-shadow(0px, 0px, 5px, rgba(#000000,0.6), inset);
            background: $c-beige;
            z-index: 300;
        }
        &#contact {
            position: relative;
            background: $c-dark-brown;
            z-index: 300;

            .parallaxed {
                background: url("../img/greenbarktexture@0.75x.jpg") no-repeat 0 0;
            }
        }

        .columns {
            @include grid-column(7);
            @include grid-column-position(center);
            @include breakpoint(xlarge down) {
                @include grid-column(10);
                @include grid-column-position(center);
            }
            @include breakpoint(medium down) {
                @include grid-column(11);
                @include grid-column-position(center);
            }
            @include breakpoint(small down) {
                @include grid-column(11);
                @include grid-column-position(center);
            }
        }
    }
    footer {
        @include grid-column;
        background: $c-dark-brown url('../img/footer-base.jpg') no-repeat center bottom;
        background-size: 100%;
        padding: 80px 0;
        @include breakpoint(medium down) {
          padding: 40px 0;
        }
        @include breakpoint(small down) {
          padding: 40px 0;
        }
        & div {
            @include grid-column(8);
            @include grid-column-position(center);
            @include breakpoint(medium down) {
                @include grid-column(12);
                @include grid-column-position(center);
            }
            @include breakpoint(small down) {
              @include grid-column(12);
              @include grid-column-position(center);
            }
        }
    }
}