h1,
h2,
h3 {
    font-weight: 900;
    text-transform: lowercase;
}
h1, h2, h3 {

}
a {
    @include transition(all, .3s, ease-in-out);
}
header .menu.simple {
    li {
        font-family: $header-font-family;
        font-size: $global-font-size - 10;
        font-weight: 400;
        vertical-align: middle;
        @include breakpoint(xlarge down) {
            font-size: $global-font-size - 5;
        }
        @include breakpoint(large down) {
            font-size: $global-font-size - 15;
        }

        @include breakpoint(medium down) {
            font-size: $global-font-size - 30;
        }
        @include breakpoint(small down) {
            font-size: $global-font-size - 10;
        }
        a {
            padding: 10px 20px;
            @include breakpoint(large down) {
                padding: 10px 10px;
            }
            @include breakpoint(small down) {
              padding: 10px 10px;
            }
        }
        &:first-child {
            a {
                padding: 0;
            }
        }
    }
}
.callout {
    h1 {
        font-size: $lead-font-size * 2;
        margin-bottom: 0;
        @include breakpoint(small down) {
          font-size: $lead-font-size *1.5;
          line-height: $header-lineheight - .4;
        }
        & + h2 {
            font-size: $lead-font-size * 1.25;
            margin-top: -15px;
            font-weight: 100;

            @include breakpoint(small down) {
              font-size: $lead-font-size * 1.25;
              margin-top: 3px;
            }
            & + p {
                font-size: $lead-font-size;
            }
        }

    }
    p {
        font-size: $global-font-size;
    }
    #about & {
        color: $c-brown;
    }
}

footer {

    & > div {
        color: rgba($c-light,0.7);
        font-size: $global-font-size-medium;
        text-align: center;

        a {
            color: rgba($c-light,0.7);
            @include transition(color, .5s, ease-in-out);
            &:hover {
                color: rgba($c-beige,0.7);
            }
        }
    }
}